<!--<br/>-->
<!--<br/>-->
<!--<input type="text" [(ngModel)]="todo_name">-->
<!--<button (click)="addData()">增加+</button>-->
<!--<hr/>-->
<!--<ul>-->
<!--<li *ngFor="let item of list">-->
<!--{{item}}-->
<!--</li>-->
<!--</ul>-->

<!--<br/>-->
<!--<br/>-->
<!--<input type="text" [(ngModel)]="todo_name">-->
<!--<button (click)="addData()">增加+</button>-->
<!--<hr/>-->
<!--<ul>-->
<!--<li *ngFor="let item of list; let i=index">-->
<!--{{item}}-&#45;&#45;&#45;&#45;-->
<!--<button (click)="deleteData(i)">删除-</button>-->
<!--</li>-->
<!--</ul>-->


<br/>
<br/>
<input type="text" [(ngModel)]="todo_name" (keyup)="addData($event)">
<hr/>
<h3>正在进行</h3>
<ul>
  <li *ngFor="let item of list; let i=index">
    {{item.name}}-----
    <button (click)="deleteData(i)">删除-</button>
    <item class="item-block" [item]="item"></item>

  </li>
</ul>
<h3>已经完成</h3>

